* {
    box-sizing: border-box;
}
li,a {
    display: block;
}

body {
    background-color: #FFF2F2;
}
 /* tổng thể phần nav bar */
.navigation {
    position: absolute;
    width: 78px;
    height: 700px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF; 
    border-radius: 0 20px 0 0;
}


/*ul chứa 4 ô*/

.navigation_item_list {
    margin-top: 14px;
    margin-left: 14px;
    
    position: relative;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
    
}

/* 4 ô nav dưới nút home */


.component {
     height: 46px;
    width: 46px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 4px rgba(156, 156, 156, 0.1), -2px -2px 4px rgba(208, 208, 208, 0.15);
    border-radius: 12px;
    margin-bottom: 22px;
    transition: transform .5s; 
}
/* svg */

.home_icon_component {
    display: inline-block;
    padding: 10px 10px;
    height: 46px;
    width: 46px;
    
}

/* thẻ a bao ngoài */
 .component:hover {
    background-color:#E3E3E5; 
    cursor: pointer;
    transform: scale(1.2);
    background: #FF8001;
    box-shadow: 4px 4px 4px rgba(255, 128, 1, 0.25), -2px -2px 4px rgba(208, 208, 208, 0.15);
    border-radius: 45px;
} 

/* .component::selection {
    width: 50px;
    height: 50px;
    position: absolute;
    background: #FF8001;
    box-shadow: 4px 4px 4px rgba(255, 128, 1, 0.25), -2px -2px 4px rgba(208, 208, 208, 0.15);
    border-radius: 50px;
    transition: transform .7s;
} */



.home_icon_component:hover {
    color: #FF8001;
}

.log {
    position: absolute;
    top: 295px;
    display: flex;
    flex-direction: column;
    left: 14px;
}

.log_icon {
    margin-top: 20px;
    margin-left: 10px;
    transition: transform .5s;
}

.log_icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icon_wrap {
    background-color: #FF8001;
    display: block;
    font-size: 50px;
}